
<div class="section section-advantage" data-background-color="black" #target>
  <img class="path" src="assets/img/path1.png" />
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="text-center col-md-12 col-lg-8">
        <h2 class="title text-color">
          من نحن ؟
        </h2>
        <h4 class="description text-color">
          شركة حكيم للذكاء الاصطناعي هي شركة متخصصة في دعم المحامين والقضاة من خلال حلول مبتكرة تجمع بين التكنولوجيا القانونية المتقدمة والمعرفة القضائية. تهدف الشركة إلى توفير أدوات ذكية تساعد في تسهيل الوصول إلى المعلومات القانونية، تسريع الأبحاث، وتحليل القضايا بشكل أكثر دقة وفعالية.
        <br>
          تسعى شركة حكيم لتمكين المهنيين القانونيين من تحسين الكفاءة في العمل وتقديم حلول تسهم في تطوير القطاع القانوني، مع التركيز على الجودة والاحترافية في كل خدمة تقدمها.
        </h4>
      </div>
      <div class="text-center col-md-12 col-lg-8">
        <a class="btn btn-danger btn-round btn-lg"
          href="#" role="button">
          تواصل معنا
        </a>
      </div>
    </div>
  </div>
</div>
<section class="section section-advantage">
    <img class="path" src="assets/img/path2.png" />
    <div class="squares square1"></div>
    <div class="squares square2"></div>
    <div class="squares square3"></div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <h1 class="text-center text-color">ما يميزنا</h1>
          <div class="row row-grid justify-content-center">
            <div class="col-lg-3">
              <div class="info">
                <div class="icon icon-primary">
                  <i class="tim-icons icon-money-coins"> </i>
                </div>
                <h4 class="info-title">تقييم الخدمة القانونية</h4>
                <hr class="line-primary" />

                <p>
                    تتم إتاحة الفرصة لعميلنا للتقييم المستمر للخدمة المقدمة له بما يضمن الحفاظ على الخدمة القانونية بالمستوى المناسب والفعّال
                </p>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="info">
                <div class="icon icon-warning">
                  <i class="tim-icons icon-chart-pie-36"> </i>
                </div>
                <h4 class="info-title">التحديث المستمر</h4>
                <hr class="line-warning" />

                <p>
                    نعمل على أحدث ما يستجد من قوانين وأنظمة من خلال التحديث المستمر لقاعدة بياناتنا القانونية وتدريب منسوبينا عليها
                </p>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="info">
                <div class="icon icon-success">
                  <i class="tim-icons icon-single-02"> </i>
                </div>
                <h4 class="info-title">ضمان الجودة </h4>
                <hr class="line-success" />

                <p>
                    يمر كل عمل قانوني لدينا بعدد من المراحل التسلسلية و الدراسة المسبقة من المختصين قبل تقديم الخدمة وذلك يضمن المراجعة والتدقيق لضمان جودة المنتج القانوني
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>